.list {
  list-style-type: none;
  width: 80%;
  padding: 0;
  margin: 20px auto;
}

.list li {
  display: block;
  height: 40px;
  font-size: 20px;
  background-color: var(--yellow);
  border-radius: 20px;
  color: var(--darker);
  line-height: 40px;
  margin-bottom: 20px;
  padding: 0 20px;
  cursor: pointer;
}

.ansof {
  color: var(--lighter);
}

/* TODO: merge all the qninp into one style that can be accessed by the three pages */

.correcting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.correcting button {
  margin-left: 20px;
  width: 90px;
  height: 40px;
  line-height: 40px;
}

.correcting button:nth-child(1) {
  background-color: #71ac5c;
}
.correcting button:nth-child(2) {
  background-color: #b65f5f;
}

.qninp {
  position: relative;
  background-color: #f3f3f3;
  border: none;
  outline: none;
  padding: 0 20px;
  height: 35px;
  font-weight: 300;
  font-size: 23px;

  transition: box-shadow 0.3s;
  box-shadow: inset 0px 0px #d0e7c8;
  z-index: 2;
  /* transition: box-shadow 0.5s; */
}
.qninp .false-slider {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: inset 0px 0px #fccbcb;

  transition: box-shadow 0.3s;
}
.true {
  box-shadow: inset 100vw 0px #d0e7c8;
  /* animation: true 0.5s forwards; */
}

.false .false-slider {
  box-shadow: inset -100vw 0px #fccbcb;
}

.mcs ul {
  padding: 0 0 0 10px;
  margin: 0;
  width: 70%;
  list-style-type: none;
}

.mcs ul li input {
  display: none;
}
.mcs ul li label:before {
  /*styles outer circle*/
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 20px 0 0;
  width: 27px;
  height: 27px;
  border-radius: 27px;
  background-color: #f3f3f3;
}

.mcs ul li label {
  position: relative;
  font-size: 20px;
}

.mcs ul li label input[type="radio"]:checked + span {
  /*styles inside circle*/
  border-radius: 11px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 13px;
  transform: translate(-50%, -50%);
  display: block;
  background-color: #606060;
}

.mcs ul li {
  margin-bottom: 12px;
  width: 100%;
}
