.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 100vh;
}

.container div {
  width: 50%;
  height: 100vh;
}

.container div:nth-child(2) {
  background-color: #810000;
}

.form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.tinput {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 100%;
  transition: 0.2s;
}

.tinput:active,
.tinput:focus,
.tinput:hover {
  outline: none;
  border-bottom-color: #8d4312;
}

.submit {
  background: #fff;
  font-size: 14px;
  margin-top: 10px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #8d4312;
  box-shadow: 0px 2px 2px #8d4312;
  cursor: pointer;
  transition: 0.2s;
}
