h2 {
  text-align: center;
}
.cbuttons {
  margin-top: 60px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-around;
}

/* .cbuttons div {
  width: 200px;
  height: 150px;
  cursor: pointer;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 150px;
  user-select: none;
} */

.cbuttons div {
  width: 300px;
}
.cbuttons div h2 {
  margin: 0;
}

.classrooms {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.classroom-wrapper {
  display: block;
}
.classroom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  /* height: 300px; */
  aspect-ratio: 9/3;
  margin: 0 auto 30px;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--yellow);
  text-align: center;
  user-select: none;
}

.classroom > div {
  margin-top: -40px;
}

.classroom h2 {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 60px;
  text-transform: capitalize;
  color: var(--darker);
}

.classroom p {
  margin: 0;
  text-transform: capitalize;
  color: #727272;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup {
  position: fixed;
  width: 400px;
  height: 500px;
  background-color: white;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.popup input[type="text"] {
}

.popup input[type="submit"] {
  display: block;
}

@media screen and (max-width: 880px) {
  .classroom {
    width: 90%;
    height: 230px;
  }
  .classroom h2 {
    font-size: 8vw;
  }
  .classroom p {
    font-size: 3vw;
  }
}

@media screen and (max-width: 750px) {
  .cbuttons div {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .classroom {
    width: 95%;
  }
  .classroom h2 {
    font-size: 9vw;
  }
  .classroom p {
    font-size: 4vw;
  }
  .cbuttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cbuttons div {
    margin-bottom: 20px;
    width: 90%;
  }
}
